* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 12px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

header .logo > a > img {
  width: 20%;
}

nav {
  display: flex;
  gap: 8px;
}

nav > a {
  color: black;
  text-decoration: none;
}

hgroup {
  background-color: rgba(188, 188, 188, 0.197);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

hgroup > h1 {
  font-size: 36px;
}

hgroup > p {
  font-size: 24px;
}

hgroup > button {
  font-size: 18px;
  padding: 1rem 1.3rem;
  border: none;
  box-shadow: 2px 2px 2px 2px #0003;
  border-radius: 3rem;
  color: white;
  background-color: black;
  transition: ease-out 0.2s;
}

hgroup > button:hover {
  background-color: white;
  color: black;
}

hgroup > button > a {
  text-decoration: none;
  color: inherit;
}

.info-container {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.card {
  list-style-type: none;
  width: 160px;
  height: 200px;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* Update ul style */
.food-heading {
  background-color: rgba(188, 188, 188, 0.197);
  padding: 20px;
}

h3 {
  padding-bottom: 10px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 12px;
}

li {
  padding-bottom: 12px;
}
